.mover{
  height: 60px;
  width: 60px;
  background: yellow;
  border: 2px solid black;
}
.mover img{
  max-width: 100px;
}

.left,.right,.up,.down{
  height: 80px;
  width: 80px;
  background: skyblue;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.hide{
  background: white;
}

.controls{
  position: absolute;
  width: 100%;
  height: 70%;
}
.roww{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.iner{
  position: relative;
  top: 10%;
}

.dynamic_grid{
  width: 20%;
  height: 30%;
}